<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="mb-3">
                <h4>Agregar Viaje</h4>
            </div>
            <form action="/admin/novedades/agregar" method="post" enctype="multipart/form-data">
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Destino" name="titulo">
                </div>
                <div class="mb-3 row">
                    <textarea type="text" class="form-control" placeholder="Detalle" name="subtitulo"></textarea>
                </div>
                <div class="mb-3 row">
                    <textarea type="text" class="form-control" placeholder="Descripción" name="cuerpo"></textarea>
                </div>
                <div class="mb-3 text-start" >
                    <label>Imagen:</label>
                </div>
                <div class="mb-3 row">
                    {{!-- <label>Imagen: </label><input type="file" class="form-control" name="imagen"
                        id="imagen"></label> --}}
                    <input type="file" class="form-control" name="imagen" id="imagen">
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            {{#if error}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>