<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="mb-3">
            <h4>Agregar Novedad</h4>
            </div>
            <form action="/admin/novedades/agregar" method="post">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Título" name="titulo">
                </div>
                <div class="mb-3">
                    <textarea type="text" class="form-control" placeholder="Subtítulo" name="subtitulo"></textarea>
                </div>
                <div class="mb-3">
                    <textarea type="text" class="form-control" placeholder="Cuerpo" name="cuerpo"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            {{#if error}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>